---
import Hero from '@components/Hero.astro'
import Portfolio from '@components/Portfolio.astro'
import Services from '@components/Services.astro'
import Layout from '@layouts/Layout.astro'
---

<Layout title='Cantte - Soluciones de software modernas'>
	<main>
    <Hero />
    <Services />
    <Portfolio />
  </main>
</Layout>
