---
import Footer from '@components/Footer.astro'
import Head from '@components/Head.astro'
import Header from '@components/Header.astro'

import '@fontsource/geist-sans/100.css'
import '@fontsource/geist-sans/200.css'
import '@fontsource/geist-sans/300.css'
import '@fontsource/geist-sans/400.css'
import '@fontsource/geist-sans/500.css'
import '@fontsource/geist-sans/600.css'
import '@fontsource/geist-sans/700.css'
import '@fontsource/geist-sans/800.css'
import '@fontsource/geist-sans/900.css'

import '@styles/global.css'

type Props = {
  title: string
  description?: string
}

const { title, description } = Astro.props
---

<!doctype html>
<html lang="es" class="bg-background font-sans antialiased">
  <head>
    <Head title={title} description={description} />
  </head>
  <body class="min-h-screen">
    <Header/>
    <main class="mb-[8rem]">
      <slot />
    </main>
    <Footer/>
  </body>
</html>
